@model PracticaCore2EMQ.Models.Libro

@{
    ViewData["Title"] = "DetallesLibro";
}

<h1>DetallesLibro</h1>
<h1 class="text-warning">
    @ViewBag.Mensaje
</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreLibro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreLibro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Portada)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.Portada" style="width: 300px; height: 300px;"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resumen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resumen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>       
        <dd class="col-sm-10">
            @if (Context.Session.GetObject<List<int>>("libroscesta") != null && Context.Session.GetObject<List<int>>("libroscesta").Contains(Model.IdLibro))
            {
                <h2>Libro en la cesta</h2>
            }
            else
            {
                <a class="btn btn-warning" asp-controller="Libros" asp-action="DetallesLibro" asp-route-idlibro="@Model.IdLibro" asp-route-cesta="true">Añadir a la cesta</a>
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
