@model IEnumerable<PracticaCore2EMQ.Models.VistaPedidos>

@{
    ViewData["Title"] = "Pedidos";
}

<h1>Pedidos de @Context.User.FindFirst(ClaimTypes.Name).Value ordenados por fecha</h1>

@if(Model != null && Model.Count() != 0)
{       
<table class="table">
    <thead>
        <tr>                    
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Portada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioFinal)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>          
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            
            <td>
                <img src="~/images/@item.Portada" style="width: 100px; height: 100px;" />            
            </td>
            <td>
                @item.FechaPedido.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioFinal)
            </td>

        </tr>
}
    </tbody>
</table>
} 
else
{
    <h1>No tienes pedidos</h1>
}
